<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>Phone: 204 794 2109</p>
      <p>Email: <a href="mailto:berochon@gmail.com">berochon@gmail.com</a></p>
    </div>
    <div class="footer-center">
      <h4>Follow Us</h4>
      <div class="social-media">
        <a href="#" class="social-icon"><img src="/images/facebookicon.png" alt="facebook" id="socialicon"></a>
        <a href="#" class="social-icon"><img src="/images/youtubeicon.png" alt="youtube"id="socialicon"></a>
        <a href="#" class="social-icon"><img src="/images/linkedin.png" alt="home logo"id="socialicon"></a>
      </div>
    </div>
    <div class="footer-right">
      <h4>Join Our Mailing List</h4>
      <form action="#" method="post" class="mailing-list-form">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">SUBSCRIBE</button>
      </form>
    </div>
  </div>
</footer>