<header>
  <div class="leftheader">
    <a class="navbar-brand" href="/">
      <img src="/images/logowithcomb.png" alt="home logo">
    </a>
  </div>
  <div class="centerheader">
    <!-- Content for center header if needed -->
  </div>
  <div class="rightheader">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/product">Honey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">My Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</header>

<link rel="stylesheet" href="/styles.css">