    <div class="home-section">
        <div class="homeleft1">
            <div class="homelefttitle">Manitoba Honey Producer</div>
            <div class="homeleftsub">Bennet's Bees</div>
            <div class="homelefttext">Bennet's Bees is a Manitoba honey producer with a commitment to the quality of the product and the well-being of its many, busy producers.</div>
        </div>
        <div class="homeright1">
            <img src="/images/homepagehoney.png" id="homehoney" alt="home honey">
        </div>
    </div>