<div class="home-section3">
    <div class="home-left3">
        <img src="/images/bee.jpg" id="homeflower" alt="bee in flowers">
    </div>
    <div class="home-right3">
        <div class="homerighttitle">Keeping Bees = Nurturing Life</div>
        <div class="homerighttext">Bennet's Bees does not have a bee farm, but rather houses bees in locations that need it. We have agreements with landowners across the province to house our hives and allow our bees to naturally improve the world they live in. This approach allows us to give back to our community in profound and meaningful ways. Read more...</div>
    </div>
</div>