<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bennet's Bees</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="page-container">
        {{> header}} <!-- Include the header partial -->
        
        <div class="content-wrap">
            {{{body}}} <!-- This is where the content from the view will be inserted -->
        </div>
        
        {{> footer}} <!-- Include the footer partial -->
    </div>
</body>  
</html>




