    <h2 class="center-page-title">Register at Bennet's Bees</h2>
    <div class="register-container">
        <form class="register-form" action="/auth/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Register</button>
        </form>
    </div>

