<h2 class="center-page-title">You are registered at Bennet's Bees!</h2>
<div class="register-container">
    <!-- Converted button to a link -->
    <a class="nav-link-button" href="/products">See Products</a>
</div>