@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
}

h1 {
  padding-top: 200px;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-wrap {
  flex: 1; /* Takes up all the available space, pushing the footer down */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Optional: If you want to vertically center content */
  padding-bottom: 80px;
}

.center-page-title {
  padding-top: 30px;
  font-family: "Montserrat";
  text-align: center;
  font-size: 20pt;
  color: darkorange;
}

.nav-link-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #f7941d;
  color: white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}



/*HEADER*/
header {
  display: grid;
  grid-template-columns: 30% 20% 50%;
  grid-template-areas: "leftheader centerheader rightheader";
  width: 100%;
  background: linear-gradient(to top, transparent, #f9deb7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Header Grid areas */
.leftheader {
  grid-area: leftheader;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  position: relative;
}

.centerheader {
  grid-area: centerheader;
}

.rightheader {
  grid-area: rightheader;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  font-family: "Montserrat";
  color: darkorange;
}

/* Adjust the logo's position */
.leftheader img {
  position: absolute;
  top: 55%;
  left: -15px;
  transform: translateY(-50%);
  width: 90%;
  height: auto;
  z-index: 1;
}

/* Style the nav items */
.rightheader .navbar-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.rightheader .navbar-nav li {
  margin-left: 10px;
  list-style-type: none;
}

.rightheader .navbar-nav li a {
  color: #f3bd72;
  font-family: "Montserrat";
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 40px;
  font-size: 100%;
}

/* Hover effect for nav links */
.rightheader .navbar-nav li a {
  color: #f3bd72;
  transition: color 0.3s ease, background-color 0.3s ease;
}
  
.rightheader .navbar-nav li a:hover {
  color: #f0ad4e;
  text-shadow: 0 0 10px #f0ad4e;
}

.cart-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px; /* Adjust as needed */
}

.cart-link {
  color: #333;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 50px;
  height: 50px;
  padding-right: 30px;
}

.cart-count {
  position: absolute;
  top: -10px;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  font-weight: bold;
}




/* HOME PARTIAL 1 */
/* Grid Container for Home Section */
.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 20px; /* Space between the columns */
  padding: 20px;
  margin-top: 30px;
  width: 100%;
}


.homeleft1, .homeright1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
}

.homeleft1 {
  flex-direction: column; /* Stack children vertically */
  text-align: center; /* Center-align text */
  font-family: "Montserrat";
  position: relative; /* Allow positioning of the background image */
  background-image: url('/images/honeycomb.png'); /* Add the background image */
  background-size: 75%; /* Ensure the image covers the area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  
}

.homeleft1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* White with 50% transparency */
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 1;
}

/* Style text to ensure readability */
.homelefttitle, .homeleftsub, .homelefttext {
  position: relative;
  z-index: 2; /* Ensure text is above the background image */
}

#homehoney {
  width: 80%;
}

.homelefttitle {
  color: orange;
  font-size: 2.5rem; /* Adjust font size */
  font-weight: 500;
}

.homeleftsub {
  margin-top: 30px;
  color: black;  
  font-size: 1.5rem; /* Adjust font size */
  font-weight: 700;
}

.homelefttext  {
  margin-top: 30px;
  color: #666;
  width: 45%;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem; /* Adjust font size */
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-section {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    gap: 10px; /* Reduce space between columns */
  }
}

/* HOME PARTIAL 2 */

/* Container for home section 2 with grey background */
.home2-container {
  background-image: url(/images/honeycomb.png); /* Background image */
  background-size: contain; /* Cover the entire container */
  background-position: center; /* Center the image */
  padding: 20px; /* Padding around the grid */
  width: 100%; /* Full width to cover the viewport */
  background-repeat: no-repeat;
}

.home-section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  gap: 5%; /* Space between the items */
  padding: 30px;
  margin: auto;
  width: 80%; /* Centered at 80% width */
  justify-content: center; /* Center the grid container horizontally */
  position: relative; /* To position elements inside */
}

.home-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  border: 1px solid #f7941d; /* Light border around each item */
  border-radius: 3px; /* Rounded corners */
  position: relative; /* Allow absolute positioning of the image */
  background-color: white;
  position: relative; /* Allow absolute positioning of the image */
}

.product-image {
  width: 100%; /* Ensure the image covers the full width of the home-item */
  height: 100%; /* Ensure the image covers the full height of the home-item */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  object-position: center; /* Center the image within the container */
}

.product-info {
  text-align: center;
  font-family: "Montserrat";
  padding: 15px;
}

.producttitle {
  color: orange;
  font-size: 14pt;
  font-weight: 500;
}

.productsub {
  margin-top: 10px;
  color: black;  
  font-size: 12pt; /* Adjust font size */
  font-weight: 700;
}

.producttext {
  margin-top: 10px;
  color: black;
  text-align: center;
  padding-top: 10px;
  line-height: 1.5;
  width: 70%;
  margin: auto;
  font-size: 10pt;
}

.price {
  margin-top: 10px;
  color: #f7941d;
  font-size: 1rem; /* Adjust font size */
  font-weight: 700;
  margin-bottom: 5%;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .home-section2 {
    grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
  }
}

@media (max-width: 768px) {
  .home-section2 {
    grid-template-columns: 1fr; /* One column on small screens */
    padding: 10px;
  }


  .producttitle {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .productsub {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .producttext {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }

  .price {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}



/* HOME PARTIAL 3 */
/* Grid Container for Home Section 3 */
.home-section3 {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Image takes 1 fraction, text takes 2 fractions */
  grid-template-areas: "home-left3 home-right3";
  gap: 20px; /* Space between the image and text */
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: 30px;
  width: 80%;
  font-family: "Montserrat";
  margin: auto;
}

.home-left3 {
  grid-area: home-left3;
  display: flex;
  align-items: flex-start; /* Align image to the top of the grid area */
  justify-content: center;
}

.home-left3 img {
  width: 100%; /* Ensure image covers the full width of the grid area */
  height: auto; /* Maintain aspect ratio */
}

.home-right3 {
  grid-area: home-right3;
  width: 80%;
  margin-left: 15%;
  display: flex;
  flex-direction: column; /* Stack text vertically */
  align-items: flex-start; /* Align text to the left */
  justify-content: center; /* Center text vertically */
  position: relative; /* Allow positioning of the background image */
  background-image: url('/images/honeycomb.png'); /* Add the background image */
  background-size: 100%; /* Ensure the image covers the area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1; /* Ensure the content is above the ::before overlay */
}

.home-right3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* White with 80% transparency */
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 0; /* Ensure the overlay is below the content */
}

.homerighttitle,
.homerightsub,
.homerighttext {
  position: relative; /* Ensure the text stays above the transparent overlay */
  z-index: 2; /* Text above both background image and overlay */
}



.homerighttitle {
  font-size: 2rem;
  font-weight: 600;
  color: #dc8112;
  margin-bottom: 10px;
}

.homerightsub {
  font-size: 1.5rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 20px;
}

.homerighttext {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-section3 {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    grid-template-areas:
      "home-left3"
      "home-right3";
    gap: 10px; /* Reduce space between image and text */
  }

  .home-left3, .home-right3 {
    text-align: center; /* Center align text on smaller screens */
  }
}


/* Responsive Design */
@media (max-width: 768px) {
  .home-section3 {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    gap: 10px; /* Reduce space between columns */
  }

  .homeleft3, .homeright3 {
    text-align: center; /* Center text on smaller screens */
  }

  .homerighttitle, .homerightsub, .homerighttext {
    margin-bottom: 10px; /* Adjust margin for better spacing on smaller screens */
  }
}

/*REGISTER PAGE*/
/* Register Page Styles */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.register-form {
  background-color: white;
  border: 1px solid #f7941d;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.register-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.register-form input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.register-form button {
  padding: 10px 20px;
  border: none;
  background-color: #f7941d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.register-form button:hover {
  background-color: #ec971f; /* Darker orange for hover effect */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .register-container {
    padding: 20px;
  }

  .register-form {
    padding: 15px;
  }

  .register-form input {
    width: 100%;
  }

  .register-form button {
    width: 100%;
  }
}

/*LOGIN PAGE*/
/* Login Page Styles */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 0 auto;
}

.login-form {
  background-color: white;
  border: 1px solid #f7941d;
  border-radius: 8px;
  padding: 20px;
  width: 70%;
  margin: auto;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.login-form input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.login-form button {
  padding: 10px 20px;
  border: none;
  background-color: #f7941d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin: auto;
}

.login-form button:hover {
  background-color: #ec971f; /* Darker orange for hover effect */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
  }

  .login-form {
    padding: 15px;
  }

  .login-form input {
    width: 100%;
  }

  .login-form button {
    width: 100%;
  }
}



/* Product Page */
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns layout */
  gap: 20px; /* Space between the columns */
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px; /* Max width to center the content */
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the space without distortion */
  border-radius: 8px; /* Rounded corners */
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  color: orange;
  font-size: 2.5rem;
  font-weight: 500;
}

.product-subtitle {
  margin-top: 10px;
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
}

.product-quantity {
  margin-top: 20px;
  font-size: 1rem;
}

.quantity-field {
  margin-left: 10px;
  width: 80px; /* Adjust width as needed */
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-price {
  margin-top: 20px;
  color: #f7941d;
  font-size: 1.8rem;
  font-weight: 700;
}

.product-description {
  margin-top: 20px;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}

.add-to-cart-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #f7941d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #e67e22; /* Darker orange for hover effect */
}



/* Responsive Styles */
@media (max-width: 768px) {
  .product-container {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
    text-align: center;
  }

  .product-image img {
    max-width: 100%;
    height: auto;
  }

  .product-details {
    align-items: center;
  }

  .quantity-field {
    width: 60px; /* Adjust width for smaller screens */
  }
}


/* PRODUCT LIST STYLES */

/* Container for the product list with a similar background */
.product-list-container {
  background-image: url(/images/honeycomb.png); /* Background image */
  background-size: contain; /* Cover the entire container */
  background-position: center; /* Center the image */
  padding: 20px; /* Padding around the grid */
  width: 100%; /* Full width to cover the viewport */
  background-repeat: no-repeat;
}

/* Section for adding a new product */
.add-product-section {
  background-color: white;
  border: 1px solid #f7941d;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 0;
  width: 50%;
  margin: auto;
  font-family: "Montserrat";
}

/* Styling for form elements */
.add-product-section form {
  display: flex;
  flex-direction: column;
}

.add-product-section label {
  margin-top: 10px;
  font-weight: bold;
  color: #666;
}

.add-product-section input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 1rem;
}

.add-product-section button {
  padding: 10px;
  border: none;
  background-color: #f7941d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  width: 40%;
}

.add-product-section button:hover {
  background-color: #ec971f;
}

/* Section for products with a similar layout to home-section2 */
.product-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  gap: 5%; /* Space between the items */
  padding: 30px;
  margin: auto;
  width: 80%; /* Centered at 80% width */
  justify-content: center; /* Center the grid container horizontally */
  position: relative; /* To position elements inside */
}

/* Styling each product item */
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  border: 1px solid #f7941d; /* Light border around each item */
  border-radius: 3px; /* Rounded corners */
  position: relative; /* Allow absolute positioning of the image */
  background-color: white;
}

.product-image {
  width: 100%; /* Ensure the image covers the full width of the product-item */
  height: 100%; /* Ensure the image covers the full height of the product-item */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  object-position: center; /* Center the image within the container */
}

.product-info {
  text-align: center;
  font-family: "Montserrat";
  padding: 15px;
}

.producttitle {
  color: orange;
  font-size: 14pt;
  font-weight: 500;
}

.productsub {
  margin-top: 10px;
  color: black;  
  font-size: 12pt; /* Adjust font size */
  font-weight: 700;
}

.producttext {
  margin-top: 10px;
  color: black;
  text-align: center;
  padding-top: 10px;
  line-height: 1.5;
  width: 70%;
  margin: auto;
  font-size: 10pt;
}

.price {
  margin-top: 10px;
  color: #f7941d;
  font-size: 1rem; /* Adjust font size */
  font-weight: 700;
  margin-bottom: 5%;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

/* Styling for admin controls */
.admin-controls {
  margin-top: 10px;
}

.admin-controls .edit-btn, .admin-controls .delete-btn {
  padding: 8px 12px;
  margin: 5px;
  background-color: #f7941d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-controls .edit-btn:hover, .admin-controls .delete-btn:hover {
  background-color: #ec971f;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .product-section {
    grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
  }
}

@media (max-width: 768px) {
  .product-section {
    grid-template-columns: 1fr; /* One column on small screens */
    padding: 10px;
  }

  .producttitle {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .productsub {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .producttext {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }

  .price {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

/* Edit Product Page */
.edit-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns layout */
  gap: 20px; /* Space between the columns */
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px; /* Max width to center the content */
}

.edit-product-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the space without distortion */
  border-radius: 8px; /* Rounded corners */
}

.edit-product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-product-title {
  color: orange;
  font-size: 2.5rem;
  font-weight: 500;
}

.edit-product-subtitle {
  margin-top: 10px;
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
}

.edit-product-quantity {
  margin-top: 20px;
  font-size: 1rem;
}

.edit-quantity-field {
  margin-left: 10px;
  width: 80px; /* Adjust width as needed */
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-product-price {
  margin-top: 20px;
  color: #f7941d;
  font-size: 1.8rem;
  font-weight: 700;
}

.edit-product-description {
  margin-top: 20px;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}

.edit-save-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #f7941d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-save-button:hover {
  background-color: #e67e22; /* Darker orange for hover effect */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .edit-product-container {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
    text-align: center;
  }

  .edit-product-image img {
    max-width: 100%;
    height: auto;
  }

  .edit-product-details {
    align-items: center;
  }

  .edit-quantity-field {
    width: 60px; /* Adjust width for smaller screens */
  }
}

/* EDIT PRODUCT FORM STYLES */

/* Container for the edit product form with a similar background */
.edit-product-form-container {
  background-image: url(/images/honeycomb.png); /* Background image */
  background-size: contain; /* Cover the entire container */
  background-position: center; /* Center the image */
  padding: 20px; /* Padding around the grid */
  width: 100%; /* Full width to cover the viewport */
  background-repeat: no-repeat;
}

/* Section for editing a product */
.edit-product-section {
  background-color: white;
  border: 1px solid #f7941d;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 0;
  width: 50%;
  margin: auto;
  font-family: "Montserrat";
}

/* Styling for form elements */
.edit-product-section form {
  display: flex;
  flex-direction: column;
}

.edit-product-section label {
  margin-top: 10px;
  font-weight: bold;
  color: #666;
}

.edit-product-section input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 1rem;
}

.edit-product-section button {
  padding: 10px;
  border: none;
  background-color: #f7941d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  width: 40%;
}

.edit-product-section button:hover {
  background-color: #ec971f;
}



/*PRODUCT PAGE*/
/* Product Page Container */
.product-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Product Details Section */
.product-page-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start; /* Align items to the start */
}

/* Product Image */
.product-page-image img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Product Information */
.product-page-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: "Montserrat", sans-serif;
}

/* Product Title */
.product-title {
  color: orange;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Product Subtitle */
.product-subtitle {
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Product Description */
.product-description {
  font-size: 1rem;
  color: black;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Product Price */
.product-price {
  font-size: 1.8rem;
  color: #f7941d;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Add to Cart Form */
.add-to-cart-form {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the start */
}

.quantity-field {
  width: 100px;
  margin-bottom: 10px; /* Add margin to separate it from the button */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
}

.add-to-cart-button {
  width: 40%; /* Make the button full width */
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #f7941d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #e67e22;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .product-page-details {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .product-page-image img {
      max-width: 100%;
      margin-bottom: 20px;
  }

  .quantity-field {
      width: 50px;
  }

  .add-to-cart-button {
      width: 100%; /* Ensure full width on smaller screens */
  }
}

/*CART*/
/* Cart Page Container */
.cart-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Cart Title */
.cart-title {
  text-align: center;
  color: orange;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Montserrat";
}

/* Cart Items */
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Cart Item */
.cart-item {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Cart Item Image */
.cart-item-image img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Cart Item Info */
.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Cart Item Title */
.cart-item-title {
  font-size: 1.5rem;
  font-family: "Montserrat";
  color: darkorange;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Cart Item Quantity */
.cart-item-quantity,
.cart-item-price {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

/* Remove From Cart Button */
.remove-from-cart-button {
  padding: 8px 16px;
  font-size: 1rem;
  color: white;
  background-color: #f7941d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-from-cart-button:hover {
  background-color: #e67e22;
}

/* Cart Total */
.cart-total {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
  text-align: right;
}

/* Checkout Button */
.checkout-button-container {
  margin-top: 30px;
  text-align: right;
}

.checkout-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  color: white;
  background-color: #f7941d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #e67e22;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cart-items {
      flex-direction: column;
  }

  .cart-item {
      flex-direction: column;
      text-align: center;
  }

  .cart-item-image img {
      width: 100%;
      margin-bottom: 20px;
  }

  .cart-total {
      text-align: center;
  }

  .checkout-button-container {
      text-align: center;
  }
}

/*CHECKOUT*/

/* Checkout Page Container */
.checkout-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Checkout Title */
.checkout-title {
  text-align: center;
  color: orange;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Montserrat";
}

/* Order Summary */
.checkout-cart-summary {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: "Montserrat";
  color: orange;
}

.checkout-cart-item {
  margin-bottom: 15px;
}

.checkout-cart-item-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

.checkout-cart-item-quantity,
.checkout-cart-item-price {
  font-size: 1rem;
  color: #333;
}

.checkout-cart-total {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

/* Checkout Form */
.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form label {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  font-family: "Montserrat";
}

.billing-title {
  font-family: "Montserrat";
  color: orange;
}

.checkout-form input,
.checkout-form select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Montserrat";
}

.checkout-button {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 1.2rem;
  color: white;
  background-color: #f7941d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Montserrat";
  margin-bottom: 100px;
}

.checkout-button:hover {
  background-color: #e67e22;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .checkout-cart-summary {
    text-align: center;
  }

  .checkout-cart-total {
    text-align: center;
  }
}



/* FOOTER */
footer {
  background: linear-gradient(to bottom, transparent, #f9deb7);
  padding: 20px;
  justify-content: center;
  font-family: "Montserrat";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal-width columns */
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  gap: 20px; /* Space between columns */
}

.footer-left, .footer-center, .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-left p, .footer-center h4, .footer-right h4 {
  margin: 0;
  padding: 0;
}

.footer-left a {
  color: #333;
  text-decoration: none;
}


.footer-center .social-media {
  display: flex;
  gap: 10px;
}

.footer-center .social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

#socialicon {
  max-width: 30px;
  height: auto;
}

.mailing-list-form {
  display: flex;
  flex-direction: column;
}

.mailing-list-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.mailing-list-form button {
  padding: 10px;
  border: none;
  background-color: #f0ad4e; /* Adjust color as needed */
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.mailing-list-form button:hover {
  background-color: #ec971f;
}

/* Responsive Design */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr; /* Two columns on medium screens */
  }
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    gap: 10px; /* Reduce space between columns */
  }

  .footer-center .social-media {
    justify-content: center; /* Center social media icons in smaller viewports */
  }

  .mailing-list-form input, .mailing-list-form button {
    width: 100%; /* Make form elements full width on small screens */
  }
}